<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="@Url.Action("Index", "Home")">AABB <span>Piracicaba</span></a>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-no-drop">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-gamepad"></i> Atividades</a>
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="@Url.Action("Futebol", "Atividades")">Futebol</a></li>
                        <li><a href="@Url.Action("Academia", "Atividades")">Academia</a></li>
                        <li><a href="#">Tênis</a></li>
                        <li><a href="#">Piscinas</a></li>
                    </ul>
                </li>
                <li class="dropdown dropdown-no-drop">
                    <a href="@Url.Action("Index", "Eventos")"><i class="fa fa-calendar"></i> Eventos</a>
                </li>
                <li class="dropdown dropdown-no-drop">
                    <a href="@Url.Action("Index", "Galerias")"><i class="fa fa-camera"></i> Galerias</a>
                </li>
                <li class="dropdown dropdown-no-drop">
                    <a href="@Url.Action("Index", "Sobre")"><i class="fa fa-bullhorn"></i> Sobre a AABB Piracicaba</a>
                </li>

                <li class="dropdown dropdown-no-drop visible-xs">
                    <a href="#"><i class="fa fa-user"></i> Área do Associado</a>
                </li>
            </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>
